.card-container {
  background-color: white;
  border-radius: 8px;
  padding: 1rem 1.5rem 0.8125rem 1.5rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.information-container {
  align-self: flex-end;
  box-shadow: 0 2px 4px 0 #0000000d;
}

.information {
  width: auto;
  font-size: 0.875rem;
  line-height: 2.25rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  background-color: #e8f3ff;
}

.primary-result {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  overflow-wrap: break-word;
}

.secondary-result {
  color: #757575;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.25rem;
  overflow-wrap: break-word;
}

@media screen and (width >= 1024px) {
  .form-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 3.375rem;
  }

  .card-container {
    padding: 2.0625rem 2.625rem 2.0625rem 2.625rem;
    height: auto;
  }

  .card-content {
    gap: 4.375rem;
  }

  .main-exchange-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.1875rem;
  }

  .footer {
    text-align: right;
    padding-top: 0.75rem;
  }

  .main-card-content {
    display: grid;
    grid-template-columns: auto 500px;
    gap: 2.625rem;
  }

  .results-container {
    height: 12.5rem;
    overflow-y: auto;
  }

  .primary-result {
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 600;
  }

  .secondary-result {
    font-size: 1rem;
    line-height: 2.25rem;
  }
}
